<!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg navbar-static">
        <div class="container">

            <h3 style="font-size: 1.5em;">
                <a class="navbar-brand" href="{% url 'index' %}" style="font-weight: 700;">
                mirsaid.uz Admin
                </a>
            </h3>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <h3 style="font-size: 1.5em;"><a href="#intro" class="nav-link smoothScroll">New blog post</a></h3>
                    </li>

                    <li class="nav-item">
                        <h3 style="font-size: 1.5em;"><a href="#contact" class="nav-link smoothScroll">Kontakt</a></h3>
                    </li>
                </ul>
                    <div class="mt-lg-0 mt-3 mb-4 mb-lg-0">
                        <a href="/mir-chat" class="custom-btn btn">Chat</a>
                    </div>
            </div>

        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
      <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
            </button>
       <div class="collapse navbar-collapse" id="navbarNav2">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="/blog/" class="nav-link smoothScroll">Blog</a>
                    </li>

                    <li class="nav-item">
                        <a href="/kurslar/" class="nav-link smoothScroll">Video Kurslar</a>
                    </li>

                    <li class="nav-item">
                        <a href="/news/" class="nav-link smoothScroll">IT yangiliklar</a>
                    </li>

                    <li class="nav-item">
                        <a href="/mir-forum/" class="nav-link smoothScroll">Forum</a>
                    </li>
                </ul>
            </div>

      </div>
    </nav>